*{
  box-sizing: border-box;
}
body{
  background-color: black;
  color:aliceblue
}
main{
  max-width: 75%;
  margin: 30px auto;
}
h1{
  text-align: center;
}
.container{
  border:2px solid grey;
  border-radius: 5px;;
}
div .basic{
  background-color:grey;
  display: flex;
  border:2px solid grey;
  gap:2px;
}
div .Description{
  background-color: grey;
  margin-top:0px;
  border:2px solid grey;
  width:100%;
  padding-right:4px;

}

form input{
  width: 100%;
  padding:5px;
  margin:2px;
}
button{
  margin-top:10px;
  margin-left: 40%;
  width:20%;
  height:30px;
  border-radius: 10px;
  background-color: #00FFdd;
  border:0;
}
.transactions{
  margin-top:30px;
  background: black;
}
.transaction{
  display:flex;
  justify-content:space-between;
  padding:10px;
  padding-bottom:20px;
  margin-bottom:-10px;
  border-top:2px solid white;
}
.transaction:first-child{
  border-top:0;
}

.transaction .right{
  text-align: right;
}
.red{
  color: rgb(255,0,0);
}
.green{
  color:rgb(0,255,0);
}
.name{
  font-size: 1rem;
}
.description{
  font-size: 0.8rem;
}

